* {
    outline: 1px solid magenta;
}

div {
    height: 10px;
    width: 10px;
}

/* Non element family properties */

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }

        #grid-btn-container {
            /* add properties */
        }

            #set-grid {
                /* add properties */
            }

            #grid-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }