/* * {
    outline: 1px solid magenta;
} */

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }

        #grid-btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

            #btn-set-grid {
                border-radius: 5px;
                padding: 5px 20px 5px 20px;
            }

            #grid-container {
                display: flex;
                flex-direction: column;
                width:500px;
                height: 500px;
            }


/* js created element */
.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grid-cell {
  flex: 1;          /* each cell shares the row width equally */
  border: 1px solid black;
}